/* Footer section */
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
    line-height: 1.2;
}

body{
    display: flex;
    flex-direction: column;
    height: 150vh;
    background-color: #ffe6d9;
        
}

footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #2f4858;
    padding: 30px 10%;
}
ul{
    list-style: none;
}
.footer-col{
    width: 25%;
}

.footer-col h4{
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #f1bc0d;
    text-transform: capitalize;
}
.footer-col h4::before{
    content: '';
    position:absolute;
    left: 0;
    bottom: -6px;
    background-color: #27c0ac;
    height: 2px;
    width: 40px;
}

footer.footer-col{
    margin-left: 100px;
}

ul li a {
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: black;
}

ul li a:hover {
    color: #e5dbce;
}